.divInterno{
  margin: 5%;
}
/* default for mobile (Mobile first) */
  .imagen-adaptativa1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 40%;
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media (max-width: 959px) {
    .imagen-adaptativa1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 50%;
      width:50%;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media (max-width: 767px) {
    .imagen-adaptativa1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 65%;
      width: 65%;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media (max-width: 767px) {
    .imagen-adaptativa1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 70%;
      width: 70%;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media (max-width: 576px) {
    .imagen-adaptativa1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 80%;
      width: 80%;
    }
  }